body{
    /*Gradient pārēju ģenerātors: https://cssgradient.io/*/
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.wrapper{
    width: 600px;
    height: 400px;
    background-color: aliceblue;
    border: 2px solid rgb(40, 40, 73);
    padding: 10px;
    margin: 20px auto;
    border-radius: 5px;
}
.chataZinas{
    background-color: rgb(250, 250, 250);
    height: 300px;
    margin: 5px;
    border: 1px solid rgb(40, 40, 73);
    border-radius: 5px;
    color:rgb(76, 5, 5);
    padding: 5px;
    /*parāda ritjoslu, kad čata ziņas pārsniedz bloka izmēru*/
    overflow-y: scroll;
}